extends ./layout

block body
  .views.layout-white
    .view.view-main(data-page='home')
        .navbar
          .navbar-inner
            .wrapper
              a.left.external.logo(href='/')
                img(src='/img/logo.png', alt='logo', style="height: 45px;") 
            .wrapper
              -console.log("loginState=>",loginState);
              -if(!loginState)
                a.right.top.external(href='/auth/facebook')
                  img.action(src='/img/login.png', alt='login', style="height: 35px;")
        .pages
          .page.toolbar-fixed(data-page='home')
            .toolbar.tabbar
              .toolbar-inner
                a.mapView.tab-link.active(href='#mapView')
                  img(src='/img/map.png', alt='map')  
                a.favoriteView.tab-link(href='#favoriteView', data-login="#{loginState}")
                  img(src='/img/favorite.png', alt='favorite')
                a.searchView.tab-link(href='#searchView')
                  img(src='/img/search.png', alt='search')
                a.listView.tab-link(href='#listView')
                  img(src='/img/list.png', alt='list')
                a.storyView.link(href='/story')
                  img(src='/img/add.png', alt='add')
            |         
            .no-buttom-spaces.page-content
              .content-block(style="height: 100%; padding: 0px; margin: 72px 0 -72px 0;")
                .tabs(style="height: calc(100% - 70px*1);")
                  #mapView.tab.active(style="height: 100%;")
                    iframe#mapFrame(src='/map', style="height: 100%; width: 100%; border: 0;")
                  |               
                  #favoriteView.tab
                    -if(favorites && favorites.length > 0)
                      each favorite in favorites
                        .card.demo-card-header-pic
                          .card-header.color-white.no-border(style='background-image:url(#{favorite.images[0]})', valign='middle')
                            span.card-title(class='#{favorite.mode}')
                              | [#{favorite.Item.itemname}] #{favorite.title}
                              span
                          .card-content
                            .card-content-inner
                              p.color-gray.card-desc
                                | [
                                img(src='#{favorite.type_icon}', alt='#{favorite.type}')
                                | ]
                                //- | [$#{favorite.price}] [#{favorite.type}] [#{favorite.location}] [#{favorite.user.username}]
                              p.card-content #{favorite.content}
                          .card-footer
                            a.link.like(href='#!', data-id='#{favorite.id}') Like
                            a.link(href='/postDetailf7/#{favorite.id}', data-id='#{favorite.id}') Detail
                    -else  
                      -if(loginState)
                        p.fav-no-item.center you have no favorite item yet:(
                         img(src='/img/blockHeart.png', alt='blockHeart')               
                  |               
                  #searchView.tab
                    form#formSearch.searchbar
                     // Search bar
                     .searchbar-input
                       input.i18n(type='search', data-i18n='[placeholder]global.search',focus)
                       a.searchbar-clear(href='#') clear
                       a.searchbar-cancel.i18n(href='#', data-i18n='global.cancel') cancel
                    // Search bar overlay
                    .searchbar-overlay
                    .page-content
                      .list-block
                        .list-group
                          ul#search-result.items-list
                          //f7 search-result callback
                          script(type='text/template7', id="searchResult").
                            {{#each this.items}}
                              <li class="">
                                <div class="card demo-card-header-pic">
                                  <div style="background-image:url({{gallery}})" valign="middle" class="card-header color-white no-border">
                                    <span class="card-title {{mode}}"> [{{itemname}}] {{title}} <span>
                                  </div>
                                  <div class="card-content">
                                    <div class="card-content-inner">
                                      <p class="color-gray card-desc">
                                        [<img src="{{type_icon}}" alt="{{type}}">]
                                        [${{price}}] [{{type}}] [{{location}}] [{{username}}]</p>
                                      <p class="card-content">{{content}}</p>
                                    </div>
                                  </div>
                                  <div class="card-footer">
                                    <a href="#!" data-id="{{id}}" class="link like">Like</a>
                                    <a href="/postDetailf7/{{id}}" data-id="{{id}}" class="link">Detail</a>
                                  </div>
                                </div>
                              </li>
                            {{/each}}
                            <li class="">
                              <div class="card">
                                <div class="card-footer">
                                  <a href="#!" class="link backTop"></a>
                                    <a href="#!" class="link backTop">back to top</a>
                                </div>
                              </div>
                            </li>
                          // Result List
                  |               
                  #listView.tab
                    -console.log(allPosts[0])
                          
                    each post in allPosts
                      .card.demo-card-header-pic
                        .card-header.color-white.no-border(style='background-image:url(#{post.gallery[0]})', valign='middle')
                          span.card-title(class='#{post.mode}')
                            | [#{post.itemname}] #{post.title} 
                            span
                        .card-content
                          .card-content-inner
                            p.color-gray.card-desc
                              | [
                              img(src='#{post.type_icon}', alt='#{post.type}')
                              | ]
                              | [$#{post.price}] [#{post.type}] [#{post.location}] [#{post.username}]
                            p.card-content #{post.content}
                        .card-footer
                          a.link.like(href='#!', data-id='#{post.id}') Like
                          a.link(href='/postDetailf7/#{post.id}', data-id='#{post.id}') Detail
                    .card
                      .card-footer
                        a.link.backTop(href='#!')
                        a.link.backTop(href='#!') back to top
              |  
              link(rel="stylesheet", href="/styles/css/main.css")
